.TaskItem {
  display: flex;
  flex-direction: row;
  padding-top: 0.6rem;
}

.Checkbox {
  width: 1.2rem;
  height: 1.2rem;
}

.Value {
  font-size: 1.1rem;
  padding-left: 0.5rem;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
input[type="checkbox"]:active {
  background-color: #f1f1f1;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
  content: '✔';
}